
.choice-container {
	display: flex;
	margin-bottom: 0.8rem;
	width: 100%;
	border-radius: 4px;
	background: #04a49cff;
	font-size: 1rem;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgb(6,103,247,0.5);
	transform: scale(1.02);
	transform: transform 100ms;
}

.choice-prefix {
	padding: 2rem 2.5rem;
	color: white;
}

.choice-text {
	padding: 1.5rem;
	width:100%;
}

.correct {
	background: linear-gradient(32deg, rgb(11,223,36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
	background: linear-gradient(32deg, rgb(230,29,29, 1) 0%, rgb(224,11,11, 1) 100%);
}

#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}

.hud-main-text {
	text-align: center;
}

#progressBar {
	width: 100%;
	height: 3rem;
	border: 0.2rem solid #04a49cff;
	margin-top: 2rem;
	border-radius: 50px;
	overflow: hidden;
}
#progressBarFull {
	height: 100%;
	background: #04a49cff;
	width: 0%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
.btn-game{
    font-size:2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255) 100%);
    border-radius: 4px;
}
.btn-game:hover {
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}
.btn-game[disabled]:hover {
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}
#highscore-btn {
    background: linear-gradient(90deg, rgb(255,247,9) 0%, rgb(240,221,6) 100%);
}
#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255,255,0,0.5);
}
.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* End Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86,185,235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28,26,26);
}

@media screen and (max-width: 760px) {
    .choice-text {
        padding: 1rem;
        width:100%;
    }
	#hud {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    }
}