/* stylelint-disable selector-list-comma-newline-after */

.question-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.question-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.question-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
      margin-block-start: auto;
      margin-block-end: auto;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.question-pagination {
  margin-bottom: 4rem;
}
.question-pagination > .btn {
  border-radius: 2rem;
}

/*
 * question posts
 */
.question-post {
  margin-bottom: 4rem;
}
.question-post__title {
  margin-bottom: .25rem;
  font-size: 1.5rem;
}
.question-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Author
 */
 .list-unstyled {
   font-size: small;
 }

/*
 * Footer
 */
.question-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.question-footer p:last-child {
  margin-bottom: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* import from sidebar */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{--header-height: 3rem;
  --nav-width: 68px;
  --first-color: #04a49cff;
  --first-color-light: #fafafa8e;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;--z-fixed: 100}*,
::before,
::after{box-sizing: border-box}
body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}
a{text-decoration: none}
.header{width: 100%;
    height: var(--header-height);
    position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color:
     var(--white-color);z-index: var(--z-fixed);transition: .5s
}
.bg-green-light{background-image:linear-gradient(180deg,#04a49cff 10%,#025854 100%)!important}a.bg-green-light,a.green-light:hover,button.green-light:focus,button.bg-green-light{background-color:#1d2124!important}

.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}
.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}
.header_img img{width: 40px}
.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}
.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}
.header_toggle{
   padding: 0.5rem 0 0.5rem 1.5rem;
}
.header_toggle--open {
   display: flex;
   justify-content: end;
}
.header_toggle--close {
   display: flex;
   justify-content: end;
}
.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}
.nav_logo{margin-bottom: 2rem}
.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}
.nav_logo-name{color: var(--white-color);font-weight: 700}
.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}
.nav_link:hover{color: var(--white-color)}
.nav_icon{font-size: 1.25rem}.show{left: 0}
.body-pd{padding-left: calc(var(--nav-width) + 1rem)}
.active{color: var(--white-color)}
.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}
.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}
.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}
.header_img{width: 40px;height: 40px}.header_img img{width: 45px}
.l-navbar{left: 0;padding: 1rem 1rem 0 0}
.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}}
/* end from import from sidebar */
