<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{base :: head}">
</head>
<body class="body-pd">
<div class="container">

  <div th:replace="~{base :: header}">

  </div>

  <div class="alert alert-success alert-dismissible fade show"
       role="alert" th:if="${successMessage != null}">
    <span th:text="${successMessage}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>

<main role="main" class="container">
  <div class="row" th:each="question: ${questions}">
      <div class="col-md-8 col-sm-12 question-main">

        <div class="card question-post" >
          <h2 class="question-post-title card-header" th:text="${question.cargo.name}">
            Question Area
          </h2>

          <div class="card-body">
            <p th:text="${question.enunciado}">This question post shows a few different types of content that’s
              supported and styled with Bootstrap. Basic
              typography, images, and code are all supported.</p>
            <hr>
            <blockquote>
              <p th:text="${question.alternativa1}">a) alternative.</p>
            </blockquote>
            <blockquote>
              <p th:text="${question.alternativa2}">b) alternative.</p>
            </blockquote>
            <blockquote>
              <p th:text="${question.alternativa3}">c) alternative.</p>
            </blockquote>
            <blockquote>
              <p th:text="${question.alternativa3}">d) alternative.</p>
            </blockquote>
            <blockquote>
              <p th:text="${question.alternativa3}">e) alternative.</p>
            </blockquote>

            <div class="card-footer text-muted">
              <div class="badge badge-secondary">
                Enviada por: <span></span>
              </div>
              <div class="badge badge-secondary">
                <span>updated at</span>
                <span th:text="${#temporals.format(question.date,'dd/MM/yyyy')}">2014</span>
              </div>
            </div>

          </div>


        </div><!-- /.question-post -->

      </div><!-- /.question-main -->

      <aside class="col-md-4 col-sm-12 question-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="font-italic" th:text="#{question.author}">About Author</h4>
          <p class="mb-0" th:text="${question.banca.name}">Etiam porta.</p>
          <hr/>
          <h4 class="font-italic" th:text="#{home.socialMidia}">Social Network</h4>
          <ol class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ol>
        </div>

        <a href="index.html" class="btn btn-light btn-small"
          th:href="@{/questions-list/edit/{questionId}(questionId=${question.id})} ">
          <i class="bx bx-edit" style="font-size: 1.5rem;"></i> Edit
        </a>
        <a href="index.html" class="btn btn-light btn-small"
           th:href="@{/questions-list/delete/{questionId}(questionId=${question.id})} ">
          <i class="bx bx-trash" style="font-size: 1.5rem;"></i> Delete
        </a>
      </aside><!-- /.question-sidebar -->



  </div><!-- /.row -->
  <div th:switch="${areaId}">
    <nav th:case="nulo" class="question-pagination">
      <a class="btn btn-outline-primary"
         th:classappend="${isFirst} ? 'disabled'"
         th:href="@{'/questions-list/?page=' + ${previousPage}}"
         href="#">
        <i class="bx bx-skip-previous nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.before}">Older</span>
      </a>
      <a class="btn btn-outline-primary"
         th:classappend="${isLast} ? 'disabled'"
         th:href="@{'/questions-list/?page=' + ${nextPage}}"
         href="#">
        <i class="bx bx-skip-next nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.next}">Newer</span>
      </a>
    </nav>
    <nav th:case="${areaId}" class="question-pagination">
      <a class="btn btn-outline-primary"
         th:classappend="${isFirst} ? 'disabled'"
         th:href="@{'/questions-list/' + ${areaId} + '/?page=' + ${previousPage}}"
         href="#">
        <i class="bx bx-skip-previous nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.before}">Older</span>
      </a>
      <a class="btn btn-outline-primary"
         th:classappend="${isLast} ? 'disabled'"
         th:href="@{'/questions-list/' + ${areaId} + '/?page=' + ${nextPage}}"
         href="#">
        <i class="bx bx-skip-next nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.next}">Newer</span>
      </a>
    </nav>
  </div>

</main><!-- /.container -->

<footer class="question-footer">
  <p>
    <a href="#" th:text="#{home.backToTop}">Back to top</a>
  </p>
</footer>
</body>
</html>
