<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{base :: head}">
</head>
<body class="body-pd">
<div class="container">

  <div th:replace="~{base :: header}">

  </div>
  <div th:replace="~{base :: areafilter}">

  </div>

</div>

<main role="main" class="container">
  <div th:replace="~{sidebar :: sidebar}">
  </div>
  <nav class="nav d-flex justify-content-around align-items-center">
    <div class="form-group col-6 d-flex d-flex justify-content-around align-items-center">
      <label class="text-nowrap pr-2" for="filter" >Buscar por</label>
      <input value="Digite o trecho desejado aqui..." id="filter"
             onchange="filterQuestions()"
             class="form-control">
    </div>
  </nav>

  <div class="row" th:each="question: ${questions}">
    <div class="col-md-8 col-sm-12 question-main">

      <div class="card question-post">
        <h4 class="question-post__title card-header" >
          <span th:text="${question.concurso}"></span>
          <span th:text="${question.banca.name}"></span>
          <span th:text="${question.ano}"></span>
        </h4>

        <div class="card-body">
          <p th:text="${question.enunciado}">This question post shows a few different types of content that’s
            supported and styled with Bootstrap. Basic
            typography, images, and code are all supported.</p>
          <hr>
          <blockquote>
            <p th:text="${question.alternativa1}">a) alternative.</p>
          </blockquote>
          <blockquote>
            <p th:text="${question.alternativa2}">b) alternative.</p>
          </blockquote>
          <blockquote th:if="${question.alternativa3}!=null">
            <p th:text="${question.alternativa3}">c) alternative.</p>
          </blockquote>
          <blockquote th:if="${question.alternativa4}!=null">
            <p th:text="${question.alternativa4}">d) alternative.</p>
          </blockquote>
          <blockquote th:if="${question.alternativa5}!=null">
            <p th:text="${question.alternativa5}">e) alternative.</p>
          </blockquote>


          <blockquote>
            Gabarito: <strong th:text="${question.resposta}">e) alternative.</strong>
          </blockquote>

          <div class="card-footer text-muted">
            <div class="badge badge-secondary">
              Questão id: <span th:text="${question.id}"></span>
            </div>
            <div class="badge badge-secondary">
              Nível: <span th:text="${question.nivel} + ' - ' +  ${question.cargo}"></span>
            </div>
            <div class="badge badge-secondary">
              Assunto: <span th:text="${question.assunto.name}"></span>
            </div>
            <div class="badge badge-secondary">
              Enviada por: <span th:text="${question.author.username}"></span>
            </div>
            <div class="badge badge-secondary">
              <span>updated at</span>
              <span th:text="${#temporals.format(question.updatedAt,'dd/MM/yyyy')}">2014</span>
            </div>
          </div>

          <hr>
          <blockquote>
            Observação: <small th:text="${question.observacao}">e) alternative.</small>
          </blockquote>

        </div>


      </div><!-- /.question-post -->

    </div><!-- /.question-main -->

    <aside class="col-md-4 col-sm-12 question-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic" th:text="#{question.about}">About Author</h4>
        <p class="mb-0" th:text="${question.banca.name}">Etiam porta.</p>
        <p class="mb-0" th:text="${question.banca.about}">Etiam porta.</p>
        <hr/>
        <h4 class="font-italic" th:text="#{home.socialMidia}">Social Network</h4>
        <ol class="list-unstyled">
          <li th:if="${question.banca.officialSite != null}"><a th:href="${question.banca.officialSite}">Site oficial</a></li>
<!--          <li th:if="${question.banca.twitter != null}"><a th:href="${question.banca.twitter}">Site oficial</a></li>
          <li th:if="${question.banca.facebook != null}"><a th:href="${question.banca.facebook}">Site oficial</a></li>-->

        </ol>
      </div>

      <a href="index.html" class="btn btn-light btn-small"
         sec:authorize="hasAnyRole('ADM','PROF')"
         th:href="@{/questions-list/edit/{questionId}(questionId=${question.id})} ">
        <i class="bx bx-edit" style="font-size: 1.5rem;"></i> Edit
      </a>
      <a href="index.html" class="btn btn-light btn-small"
         sec:authorize="hasAnyRole('ADM')"
         th:href="@{/questions-list/delete/{questionId}(questionId=${question.id})} ">
        <i class="bx bx-trash" style="font-size: 1.5rem;"></i> Delete
      </a>
    </aside><!-- /.question-sidebar -->

  </div><!-- /.row -->
  <div th:switch="${areaId}">
    <nav th:case="nulo" class="question-pagination d-flex justify-content-around align-items-center">
      <a class="btn btn-outline-primary"
         th:classappend="${isFirst} ? 'disabled'"
         th:href="@{'/questions-list/?page=' + ${previousPage}}"
         href="#">
        <i class="bx bx-skip-previous nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.before}">Older</span>
      </a>
      <div class="form-group col-2 d-flex flex-column">
        <label for="page" >Página</label>
        <input th:value="${page}" id="page"
               onchange="changePage()"
               class="form-control">
      </div>
      <a class="btn btn-outline-primary"
         th:classappend="${isLast} ? 'disabled'"
         th:href="@{'/questions-list/?page=' + ${nextPage}}"
         href="#">
        <span th:text="#{question.next}">Newer</span>
        <i class="bx bx-skip-next nav_icon" style="font-size: 1.5rem;"></i>
      </a>
    </nav>
    <nav th:case="${areaId}" class="question-pagination d-flex justify-content-around align-items-center">
      <a class="btn btn-outline-primary"
         th:classappend="${isFirst} ? 'disabled'"
         th:href="@{'/questions-list/?areaId=' + ${areaId} + '&page=' + ${previousPage}}"
         href="#">
        <i class="bx bx-skip-previous nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.before}">Older</span>
      </a>
      <div class="form-group col-2 d-flex flex-column">
        <label for="pageArea" >Página</label>
        <input th:value="${page}" id="pageArea"
               onchange="changePageArea()"
               class="form-control">
      </div>
      <a class="btn btn-outline-primary"
         th:classappend="${isLast} ? 'disabled'"
         th:href="@{'/questions-list/?areaId=' + ${areaId} + '&page=' + ${nextPage}}"
         href="#">
        <span th:text="#{question.next}">Newer</span>
        <i class="bx bx-skip-next nav_icon" style="font-size: 1.5rem;"></i>
      </a>
    </nav>
  </div>

</main><!-- /.container -->

<footer class="question-footer">
  <p>
    <a href="#" th:text="#{home.backToTop}">Back to top</a>
  </p>
</footer>
<div th:replace="~{base :: scripts}">

</div>
<script>

  function changePage() {
    const page = document.querySelector('#page');
    const url = ( (window.location.href.split(window.location.pathname)[0]) +  window.location.pathname)
    window.location.replace(url + '?page='+ page.value);
  }
  function changePageArea() {
    const page = document.querySelector('#pageArea');
    const reg = /(page=\d*)/;
    let pageParam;
    try{
     pageParam = reg.exec( window.location.href)[1];
    } catch(e) {}
    console.log(window.location.href);
    const url = pageParam?
     window.location.href.replace(pageParam,'page=' + page.value)
     : window.location.href  + '&page='+ page.value;
    window.location.replace(url);
  }
</script>
</body>

</html>
