<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{base :: head}">

</head>
<body class="body-pd">
<div class="container">

  <header class="question-header py-3" id="header" >
    <div th:replace="~{base :: header}">
    </div>
  </header>


</div>

<div th:replace="~{sidebar :: sidebar}">
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 question-main">
      <div class="question-post">
        <h2 class="question-post-title" th:text="#{edit.area}" >Edit question</h2>

        <form th:object="${newQuestionDTO}" th:action="@{/question-form}" method="post">

          <div class="row my-1">
            <div class="form-group col-2" th:if="*{id}!=0">
              <label>id</label>
              <input type="text" th:field="*{id}" class="form-control" readonly>
            </div>

            <div class="form-group col-6 d-flex flex-column">
              <label>Cargo</label>
              <select class="custom-select" aria-label="Select cargo"
                      name="cargo" th:field="*{cargo}" id="cargosOptions">
                <option value="1" th:each="scargo : ${cargos}"
                        th:value="${scargo}" th:text="${scargo}"
                >One</option>
              </select>
            </div>

            <div class="row my-1">
              <div class="form-group col-12 d-flex flex-column">
                <label>Area</label>
                <select class="custom-select" aria-label="Select engineer area" onChange="onLoad(this.value)"
                        name="area" th:field="*{subjectArea}" id="areasOptions">
                  <option value="1" th:each="sarea: ${areas}"
                          th:value="${sarea.id}" th:text="${sarea.name}"
                  >One</option>
                </select>
              </div>
            </div>

            <!--th:onchange="@{/questions-form/?areaId={id}(id=${cargo.id})}"
            onChange="top.location.href='http://localhost:8080/question-form/?areaId=' + this.options[this.selectedIndex].value;"-->

            <div class="form-group col-6 d-flex flex-column">
              <label>Assunto</label>
              <select class="custom-select" aria-label="Select assunto" name="assunto"
                      th:field="*{assunto}"   id="assuntos">
                <option value="1" th:each="sAssunto: ${assuntos}"
                        th:value="${sAssunto.id}" th:text="${sAssunto.name}">One</option>
              </select>
            </div>
          </div>

          <div class="row my-1">
            <div class="form-group col-5 d-flex flex-column">
              <label>Banca</label>
              <select class="custom-select" aria-label="Select banca" name="banca"
                      th:field="*{banca}">
                <option value="1" th:each="sbanca: ${bancas}"
                        th:value="${sbanca.id}" th:text="${sbanca.name}">One</option>
              </select>
            </div>
            <div class="form-group col-5 d-flex flex-column">
              <label for="concurso" >Concurso</label>
              <input th:field="*{concurso}" id="concurso"
                        rows="10" th:errorclass="is-invalid"
                        class="form-control"></input>
              <small class="invalid-feedback" th:errors="*{concurso}">
                Mensagem de possíveis erros no enunciado
              </small>
            </div>

            <div class="form-group col-2 d-flex flex-column">
              <label for="resposta" >Resposta</label>
              <select class="custom-select" aria-label="Select banca" th:field="*{resposta}"
                      id="resposta"   th:errorclass="is-invalid">
                <option value="A"  >a)</option>
                <option value="B"  >b)</option>
                <option value="C"  >c)</option>
                <option value="D"  >d)</option>
                <option value="E"  >e)</option>
                <option value="CERTO"  >Certa</option>
                <option value="ERRADO"  >Errada</option>

              </select>
              <small class="invalid-feedback" th:errors="*{resposta}">
                Informe a resposta da pergunta
              </small>
            </div>

          </div>


          <div class="form-group">
            <label for="enunciado" >Enunciado</label>
            <textarea th:field="*{enunciado}" id="enunciado"
                      rows="10" th:errorclass="is-invalid"
                      class="form-control"></textarea>
            <small class="invalid-feedback" th:errors="*{enunciado}">
              Mensagem de possíveis erros no enunciado
            </small>
          </div>

          <div class="form-group">
            <label for="alternativa1" >Alternativa (a)</label>
            <textarea th:errorclass="is-invalid" th:field="*{alternativa1}"
                      id="alternativa1" rows="3" class="form-control" required>
            </textarea>
            <small class="invalid-feedback" th:errors="*{alternativa1}" >
              Mensagem de possíveis erros na alternativa
            </small>

          </div>
          <div class="form-group">
            <label for="alternativa2" >Alternativa (b)</label>
            <textarea th:errorclass="is-invalid" th:field="*{alternativa2}"
                      id="alternativa2" rows="3" class="form-control" required>

            </textarea>
            <small class="invalid-feedback" th:errors="*{alternativa2}" >
              Mensagem de possíveis erros na alternativa
            </small>
          </div>
          <div class="form-group">
            <label for="alternativa3" >Alternativa (c)</label>
            <textarea th:field="*{alternativa3}" id="alternativa3"
                      rows="3" class="form-control">
            </textarea>
          </div>
          <div class="form-group">
            <label for="alternativa4" >Alternativa (d)</label>
            <textarea id="alternativa4" th:field="*{alternativa4}"
                      rows="3" class="form-control">
            </textarea>
          </div>
          <div class="form-group">
            <label for="alternativa5" >Alternativa (e)</label>
            <textarea id="alternativa5" th:field="*{alternativa5}"
                      rows="3" class="form-control">
            </textarea>
          </div>

          <div class="form-group">
            <label for="enunciado" >Enunciado</label>
            <textarea th:field="*{observacao}" id="observacao"
                      rows="10"
                      class="form-control"></textarea>
          </div>

          <button class="btn btn-primary" type="submit">
            Salvar
          </button>
        </form>
      </div><!-- /.question-post -->

    </div><!-- /.question-main -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="question-footer">
  <p>
    <a href="#" th:text="#{home.backToTop}">Back to top</a>
  </p>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js" ></script>

<script>

/*  const areaId = getParams("areaId") - 1;
  const cargosOptions = document.getElementById('cargosOptions');
  cargosOptions.options[areaId].selected = true;*/

  async function onLoad(id) {
    try {
        const response = await axios.get('http://localhost:8080/api/assuntos/'+ id);
        assuntos = response.data;
        console.log(response.data);
        clearOptionsFast('assuntos')
        assuntosSelect = document.getElementById('assuntos');
        assuntos.forEach( assunto => {
          assuntosSelect.options[assuntosSelect.options.length] = new Option(assunto.name, assunto.id);
        });
    } catch (error) {
        console.error(error);
    }
  }


  function getParams(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
  }
  function clearOptionsFast(id)
  {
    const selectObj = document.getElementById(id);
    const selectParentNode = selectObj.parentNode;
    const newSelectObj = selectObj.cloneNode(false); // Make a shallow copy
    selectParentNode.replaceChild(newSelectObj, selectObj);
    return newSelectObj;
  }
</script>
<div th:replace="~{base :: scripts}">

</div>
</body>
</html>
