<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{base :: head}">

</head>
<body class="body-pd">
<div class="container">

  <header class="question-header py-3" id="header" >
    <div th:replace="~{base :: header}">
    </div>
  </header>


</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 question-main">
      <div class="question-post">
        <h2 class="question-post-title" th:text="#{home.area}" >Edit question</h2>

        <form th:object="${newQuestionDTO}" th:action="@{/question-form}" method="post">

          <div class="row my-1">
            <div class="form-group col-2" th:if="*{id}!=0">
              <label>id</label>
              <input type="text" th:field="*{id}" class="form-control" readonly>
            </div>

            <div class="form-group col-5 d-flex flex-column">
              <label>Cargo</label>
              <select class="custom-select" aria-label="Select engineer area" name="cargo" th:field="*{cargo}" >
                <option value="1" th:each="sarea: ${areas}"
                        th:value="${sarea.id}" th:text="${sarea.name}">One</option>
              </select>
            </div>

            <div class="form-group col-5 d-flex flex-column">
              <label>Banca</label>
              <select class="custom-select" aria-label="Select banca" name="banca" th:field="*{banca}">
                <option value="1" th:each="sbanca: ${bancas}"
                        th:value="${sbanca.id}" th:text="${sbanca.name}">One</option>
              </select>
            </div>
          </div>


          <div class="form-group">
            <label for="enunciado" >Enunciado</label>
            <textarea th:field="*{enunciado}" id="enunciado"
                      rows="10" th:errorclass="is-invalid"
                      class="form-control"></textarea>
            <small class="invalid-feedback" th:errors="*{enunciado}">
              Mensagem de possíveis erros no enunciado
            </small>
          </div>

          <div class="form-group">
            <label for="alternativa1" >Alternativa (a)</label>
            <textarea th:errorclass="is-invalid" th:field="*{alternativa1}"
                      id="alternativa1" rows="3" class="form-control" required>
            </textarea>
            <small class="invalid-feedback" th:errors="*{alternativa1}" >
              Mensagem de possíveis erros na alternativa
            </small>

          </div>
          <div class="form-group">
            <label for="alternativa2" >Alternativa (b)</label>
            <textarea th:errorclass="is-invalid" th:field="*{alternativa2}"
                      id="alternativa2" rows="3" class="form-control" required>

            </textarea>
            <small class="invalid-feedback" th:errors="*{alternativa2}" >
              Mensagem de possíveis erros na alternativa
            </small>
          </div>
          <div class="form-group">
            <label for="alternativa3" >Alternativa (c)</label>
            <textarea th:field="*{alternativa3}" id="alternativa3"
                      rows="3" class="form-control" required>
            </textarea>
          </div>
          <div class="form-group">
            <label for="alternativa4" >Alternativa (d)</label>
            <textarea id="alternativa4" th:field="*{alternativa4}"
                      rows="3" class="form-control" required>
            </textarea>
          </div>
          <div class="form-group">
            <label for="alternativa5" >Alternativa (e)</label>
            <textarea id="alternativa5" th:field="*{alternativa5}"
                      rows="3" class="form-control" required>
            </textarea>
          </div>
          <div class="form-group">
            <label for="resposta" >Resposta</label>
            <select class="form-select" aria-label="Select banca" th:field="*{resposta}" id="resposta">
              <option value="a"  >a)</option>
              <option value="b"  >b)</option>
              <option value="c"  >c)</option>
              <option value="d"  >d)</option>
              <option value="e"  >e)</option>
            </select>
            <small>Informe a resposta da pergunta</small>
          </div>
          <button class="btn btn-primary" type="submit">
            Salvar
          </button>
        </form>
      </div><!-- /.question-post -->

    </div><!-- /.question-main -->

    <aside class="col-md-4 question-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic" th:text="#{home.author}" >About Author</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <hr/>
        <h4 class="font-italic" th:text="#{home.socialMidia}" >Social Network</h4>
        <ol class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ol>
      </div>
    </aside><!-- /.question-sidebar -->

    <nav class="question-pagination">
      <a class="btn btn-outline-primary"
         href="#"
      >
        <i class="bx bx-skip-previous nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.before}">Older</span>
      </a>
      <a class="btn btn-outline-primary"
         href="#">
        <i class="bx bx-skip-next nav_icon" style="font-size: 1.5rem;"></i>
        <span th:text="#{question.next}">Newer</span>
      </a>
    </nav>

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="question-footer">
  <p>
    <a href="#" th:text="#{home.backToTop}">Back to top</a>
  </p>
</footer>

<div th:replace="~{base :: scripts}">

</div>
</body>
</html>
